
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
    <h1 class="mat-h1"  *ngIf="title=='Novo Ironkey'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/ironkeys"><mat-icon>arrow_back</mat-icon></a> {{ "ironkeynew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
      <h1 class="mat-h1"  *ngIf="title=='Editar Ironkey'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/ironkeys"><mat-icon>arrow_back</mat-icon></a>{{ "ironkeyedit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  
  <mat-card>
      <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        
      <mat-form-field style="width: 100%;">
          <mat-label>{{ 'serialn' | translate }} *</mat-label>
          <input autocomplete="off" type="text" matInput placeholder="{{ 'serialn' | translate }}" [(ngModel)]="ironkey.serial" formControlName="serial">
          <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>
        <br><br>

        <mat-form-field style="width: 100%;">
                <mat-label>{{ 'version' | translate }} *</mat-label>
                <input autocomplete="off" type="text" matInput placeholder="{{ 'version' | translate }}" [(ngModel)]="ironkey.version" formControlName="version">
                <mat-icon matPrefix>label_outline</mat-icon>
              </mat-form-field>
              <br><br>
  
        <mat-form-field style="width: 100%;">
            <mat-label>{{ 'state' | translate }} *</mat-label>
            <mat-select [(ngModel)]="ironkey.status" formControlName="status">
              <mat-option>{{ 'select' | translate }}</mat-option>
              <mat-option *ngFor="let status of status" [value]="status.name">{{status.name }}</mat-option>
            </mat-select>
            <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>

        <br><br>
  
        <mat-form-field style="width: 47%;">
            <mat-label>{{ 'capacity' | translate }} *</mat-label>
            <mat-select [(ngModel)]="ironkey.size" formControlName="size">
              <mat-option>{{ 'select' | translate }}</mat-option>
              <mat-option *ngFor="let size of sizes" [value]="size.id">{{size.name }}</mat-option>
            </mat-select>
            <mat-icon matPrefix>insert_drive_file</mat-icon>
        </mat-form-field>
        
        <mat-form-field style="width: 47%;margin-left: 5%;">
            <mat-label>{{'date_purchased' | translate }} *</mat-label>
                <input matInput autocomplete="off" onkeypress="return false;" [matDatepicker]="picker" placeholder="{{ 'date_purchased' | translate }}" [(ngModel)]="ironkey.datePurchased" formControlName="datePurchased"> 
                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        <br><br>

        <mat-form-field style="width: 50%;">
                <textarea rows="3"  placeholder="{{'description' | translate }}" matInput maxlength="255" [(ngModel)]="ironkey.observation" formControlName="observation"></textarea>
           </mat-form-field>
      
        
        <br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled" matTooltip="Salvar registo">{{ "save" | translate }}</button>
            <button mat-raised-button routerLink="/ironkeys" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
          </mat-card-actions>
  
  </form>
  
  </mat-card-content>
  </mat-card>
  </div>