<mat-toolbar color="primary" class="app-navbar" *ngIf="isAuth">
        <span routerLink="/home">SCB</span>
        <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: 20px;">
            <mat-icon >apps</mat-icon>
            <span class="badge" *ngIf="(ROLE_SIS||ROLE_ODMA)&&(total2>0||total>0)">{{total2+total}}</span>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false" class="plMenuCSS">

            <div style="display: flex; width: 400px;">
            <a routerLink="/home" class="lopesMenu" mat-menu-item style="display: inline-block; width: 120px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">

                <span style="margin: 5px;padding: 5px;"><img src="assets/images/scb-dashboard.png" /></span>
                <h3  class="mat-h4">{{ "dashboard" | translate }}</h3>

            </a>

            <a routerLink="/districts" class="lopesMenu" mat-menu-item style="display: inline-block; width: 120px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">

                <span style="margin: 5px;padding: 5px;"><img src="assets/images/scb-location.png" /></span>
                <h3 class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px">Gestão de {{ "districts" | translate }}</h3>

            </a>

            <a routerLink="/syncs" *ngIf="ROLE_GDD||ROLE_ODMA||ROLE_ORMA||ROLE_SIS||ROLE_OA||ROLE_GMA"  class="lopesMenu" mat-menu-item style="display: inline-block; width: 130px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">

                <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-openmrs.png" /><span class="badge" *ngIf="(ROLE_SIS||ROLE_ODMA)&&total2>0">{{total2}}</span></span>
                <h3 class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px">{{ "records" | translate }}</h3>

            </a>
            

          </div>


          <div style="display: flex; width: 400px;">
              <a routerLink="/transporters" class="lopesMenu" mat-menu-item style="display: inline-block; width: 120px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">
  
                  <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-transporter.png" /></span>
                  <h3  class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px"> Transportador de Backups</h3>
  
              </a>

              <a *ngIf="ROLE_GDD||ROLE_ODMA||ROLE_ORMA||ROLE_SIS" routerLink="/sends" class="lopesMenu" mat-menu-item style="display: inline-block; width: 130px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">
  
                  <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-flash-drive.png" /></span>
                  <h3 class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px">{{ "send" | translate }}</h3>
  
              </a>
  
              <a *ngIf="ROLE_SIS||ROLE_OA||ROLE_GMA" routerLink="/servers" class="lopesMenu" mat-menu-item style="display: inline-block; width: 120px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">
  
                  <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-laptop.png" /></span>
                  <h3 class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px">{{ "servers" | translate }}</h3>
  
              </a>
  
            </div>

            <div style="display: flex; width: 400px;">
                <a *ngIf="ROLE_SIS||ROLE_GMA||ROLE_OA" routerLink="/receives" class="lopesMenu" mat-menu-item style="display: inline-block; width: 120px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">
    
                    <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-flash-drive.png" /><span class="badge" *ngIf="ROLE_SIS&&total>0">{{total}}</span></span>
                    <h3  class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px"> {{ "receive" | translate }}</h3>
    
                </a>
  
                <a *ngIf="ROLE_SIS" routerLink="/users" class="lopesMenu" mat-menu-item style="display: inline-block; width: 130px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">
    
                    <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-user.png" /></span>
                    <h3 class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px">Gestão de {{ "users" | translate }}</h3>
    
                </a>
    
                <a *ngIf="ROLE_SIS||ROLE_IT" routerLink="/ironkeys" class="lopesMenu" mat-menu-item style="display: inline-block; width: 120px; height: 90px;align-items: center;justify-content: center; padding: 10px; margin: 5px;text-align: center;">
    
                    <span  style="margin: 5px;padding: 5px;"><img src="assets/images/scb-ironkey.png" /></span>
                    <h3 class="mat-h4" style="word-wrap: break-word;white-space: normal; line-height: 16px">Gestão de {{ "ironkeys" | translate }}</h3>
    
                </a>
    
              </div>

          </mat-menu>

<button mat-mini-fab [matMenuTriggerFor]="menu2" style="background-color:lightgray;color: black;">{{user.person.othersNames| slice:0:1}}{{user.person.surname|slice:0:1}} </button> <mat-icon [matMenuTriggerFor]="menu2">arrow_drop_down</mat-icon>
<mat-menu #menu2="matMenu" [overlapTrigger]="false">
      <a mat-menu-item style="text-decoration: none;" (click)="setUser()" [routerLink]="['/users/profile', user.uid]">
        <mat-icon>people_outline</mat-icon>
        <span>Meu Perfil</span>
      </a>
      <a mat-menu-item style="text-decoration: none;" target="_blank" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM/edit?usp=sharing">
        <mat-icon>help_outline</mat-icon>
        <span >Obter {{"help" | translate}}</span>
      </a>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span> {{ "exit" | translate }}</span>
      </button>
      </mat-menu>
      
        
      </mat-toolbar>