<mat-sidenav-container autosize>
    <mat-sidenav #drawer mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]="63" >
      
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Menu</span>
            </mat-toolbar-row>
        </mat-toolbar>
  
      <mat-nav-list>
        <a mat-list-item routerLink="/home" matTooltip="Ir para a pagina inicial">
          <mat-icon>home</mat-icon>&nbsp;&nbsp;<span class="nav-caption">Página Inicial</span>
        </a>
        <a mat-list-item *ngIf="ROLE_SIS||ROLE_ODMA" routerLink="/syncs/new" matTooltip="Registar nova Sincronização">
          <mat-icon>add</mat-icon>&nbsp;&nbsp;<span class="nav-caption">Registar Sincronização</span>
        </a>
        <a mat-list-item *ngIf="isHidden=='hide'" (click)="printListExcel()" routerLink="/syncs" matTooltip="Baixar a lista em Excel">
          <mat-icon>file_download</mat-icon>&nbsp;&nbsp;<span class="nav-caption">{{ "downloadlist" | translate}} em Excel</span>
        </a>
        <!--
        <a mat-list-item *ngIf="isHidden=='hide'" (click)="printList()" routerLink="/syncs" matTooltip="Baixar a lista em PDF">
          <mat-icon>file_download</mat-icon>&nbsp;&nbsp;<span class="nav-caption">{{ "downloadlist" | translate}} em PDF</span>
        </a>
        -->
      </mat-nav-list>
  
      <mat-expansion-panel style="box-shadow: none" [expanded]="district_id!=''||server_id!=''||from2!=''||until2!=''">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Pesquisar Dados
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div>

              <form [formGroup]="form">
              <mat-form-field style="width: 95%;">
                  <mat-label>{{ 'district' | translate }}</mat-label>
                  <mat-select   (change)="search()" [disabled]="disabled1==true" [(value)]="district_id">
                    <mat-option value="all" selected>Todos Distritos</mat-option>
                    <mat-option *ngFor="let district of alldistricts" [value]="district.districtId">{{ district.fullName }}</mat-option>
                  </mat-select>
                  <mat-icon matPrefix>location_on</mat-icon>
              </mat-form-field>
    
              <mat-form-field style="width: 95%;">
                  <mat-label>{{ 'servername' | translate }}</mat-label>
                  <mat-select  (change)="search()" [disabled]="disabled1==true" [(value)]="server_id">
                    <mat-option value="all" selected>Todos Servidores</mat-option>
                    <mat-optgroup *ngFor="let d of allservers" [label]="d.district">
                        <mat-option *ngFor="let server of d.servers" [value]="server.serverId">{{ server.name }}</mat-option>
                      </mat-optgroup>
                  </mat-select>
                  <mat-icon matPrefix>location_on</mat-icon>
              </mat-form-field>
    
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" (click)="picker.open()" autocomplete="off" onkeypress="return false;" [max]="maxDate" placeholder="Data Inicial" (dateChange)="search2()" [(ngModel)]="from2" formControlName="start_from"> 
                  <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" autocomplete="off" (click)="picker2.open()" onkeypress="return false;" [max]="maxDate" placeholder="Data Final" (dateChange)="search2()" [(ngModel)]="until2" formControlName="start_until"> 
                    <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
    
    </form>
          </div>
  
      </mat-expansion-panel>
      
  
    </mat-sidenav>
    <mat-sidenav-content style="padding: 10px; margin-top: 70px;">
  
      <span style="display: inline-flex;">
        <button mat-mini-fab color="basic" (click)="drawer.toggle()" (click)="changeIcon()" matTooltip="Esconder / Mostrar Menu lateral"><mat-icon>{{icon}}</mat-icon> </button>
      &nbsp;&nbsp;<h1 class="mat-h1" style="margin-top: 7px;">{{ "syncsfound" | translate }} <a matTooltip="Ajuda" target="_blank" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
    </span>
      <mat-paginator *ngIf="isHidden=='hide'" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPage($event)"></mat-paginator>
      <mat-progress-bar mode="indeterminate" *ngIf="isHidden==''"></mat-progress-bar>
      <section class="mat-typography">
          <span class="info-label" *ngIf="isHidden==''">Carregando dados...</span>
        </section>
   
      <mat-table mat-table [dataSource]="syncs" class="mat-elevation-z8" matSort>
  
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
          <!-- Name Column -->
          <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef> {{ "district" | translate }} / {{ "servername" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.district.name }} / {{ element.server.name }} </mat-cell>
          </ng-container>
  
          <!-- Sync Time -->
          <ng-container matColumnDef="sync_time">
            <mat-header-cell *matHeaderCellDef> {{ "sync_time" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{getSyncTimeline(element.startTime,element.endTime)}}</mat-cell>
          </ng-container>
  
           <!-- Duration -->
           <ng-container matColumnDef="duration" >
              <mat-header-cell *matHeaderCellDef> {{ "duration" | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element">
              <span *ngIf="getSyncStatus(element.startTime,element.endTime)=='complete'">
                {{getSyncDuration(element.startTime,element.endTime)}}
              </span>
              <span style="color:red;" *ngIf="getSyncStatus(element.startTime,element.endTime)=='progress'&&getSyncExpires(element.startTime)==true">
                  {{'not_concluded' | translate}}
              </span>
              <span *ngIf="getSyncStatus(element.startTime,element.endTime)=='progress'&&getSyncExpires(element.startTime)==false">
                  <mat-progress-bar style="margin-right: 10px;" matTooltip="Sincronização em progresso" mode="indeterminate"></mat-progress-bar>
              </span>
              </mat-cell>
            </ng-container>

           <!-- Items to send start -->
           <ng-container matColumnDef="send_s">
              <mat-header-cell *matHeaderCellDef>Itens {{ "items_send" | translate }} no inicio</mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">{{ element.startItemsToSend }}</mat-cell>
            </ng-container>

            <!-- Items to receive start -->
           <ng-container matColumnDef="receive_s">
              <mat-header-cell *matHeaderCellDef>Itens {{ "items_receive" | translate }} no inicio</mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">{{ element.startItemsToReceive }}</mat-cell>
            </ng-container>

             <!-- Items to send end -->
           <ng-container matColumnDef="send_e">
              <mat-header-cell *matHeaderCellDef>Itens {{ "items_send" | translate }} no fim</mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">
                <span *ngIf="getSyncStatus(element.startTime,element.endTime)=='complete'">
                {{ element.endItemsToSend }}
                </span>
              </mat-cell>
            </ng-container>

            <!-- Items to receive end -->
           <ng-container matColumnDef="receive_e">
              <mat-header-cell *matHeaderCellDef>Itens {{ "items_receive" | translate }} no fim</mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">
                  <span *ngIf="getSyncStatus(element.startTime,element.endTime)=='complete'">
                      {{ element.endItemsToReceive }}
                      </span>

              </mat-cell>
            </ng-container>
  
             <!-- Updated On -->
          <ng-container matColumnDef="updated">
              <mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ "updatedon" | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: center;">  {{ element.dateUpdated | date: 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>
  
          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;">
              <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isHidden==''">
                  <mat-icon *ngIf="getOccurence(element.uid)==''">more_vert</mat-icon>
                  <mat-icon style="color:red;" *ngIf="getOccurence(element.uid)!=''">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setSync(element.uid)">
                  <mat-icon *ngIf="getOccurence(element.uid)==''">info</mat-icon>
                  <mat-icon style="color:red;" *ngIf="getOccurence(element.uid)!=''">info</mat-icon>
                  <span>{{ 'details' | translate}}</span>
                </button>
                <button *ngIf="(ROLE_SIS||ROLE_ODMA)&&getSyncExpires(element.startTime)==false" mat-menu-item [routerLink]="['/syncs', element.uid]">
                  <mat-icon>mode_edit</mat-icon>
                  <span>Actualizar Registo</span>
                </button>
                <button matTooltip="Registo do passado não é possivel actualizar" *ngIf="(ROLE_SIS||ROLE_ODMA)&&getSyncExpires(element.startTime)==true" mat-menu-item >
                  <mat-icon style="color:lightgrey;">mode_edit</mat-icon>
                  <span>Registo do passado</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
    <br>
      <mat-paginator *ngIf="isHidden=='hide'" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPage($event)">
      </mat-paginator>
      
      <button routerLink="/syncs/new" *ngIf="ROLE_SIS||ROLE_ODMA" mat-fab matTooltip="Registar nova Sincronização" color="primary" class="fab-bottom-right">
        <mat-icon>add</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>