.mat-column-fullName {
    flex: 0 0 240px;
  }

  .mat-column-sync_time {
    flex: 0 0 180px;
  }

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 44px;
}

.mat-toolbar-multiple-rows {
  min-height: 44px;
}