<!--
@author damasceno.lopes
@email damasceno.lopes@fgh.org.mz
-->

<br>
<h5 class="light">{{ total }} {{ "syncsfound" | translate }}.</h5>

<form materialize [formGroup]="form">
  <div class="row">
    <div class="input-field col s12 l4 m4" *ngIf="translate.currentLang=='pt'">
      <mz-select-container>
        <select mz-select mz-validation required id="district" [label]="'Distrito'" formControlName="district" (change)="search()"
          [disabled]="disabled2==true">
          <option value="all" selected>Todos Distritos</option>
          <option *ngFor="let district of alldistricts" [value]="district.district_id">{{ district.name }}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="input-field col s12 l4 m4" *ngIf="translate.currentLang=='en'">
      <mz-select-container>

        <select mz-select mz-validation required id="district" [label]="'District'" formControlName="district" (change)="search()"
          [disabled]="disabled2==true">
          <option value="all" selected>All Districts</option>
          <option *ngFor="let district of alldistricts" [value]="district.district_id">{{ district.name }}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="{{disabled1==true?'input-field col s11 l3 m3':'input-field col s12 l4 m4'}}" *ngIf="translate.currentLang=='pt'">
      <mz-select-container>
        <select mz-select mz-validation required id="server" [label]="'Servidor'" formControlName="server" (change)="search()" [disabled]="disabled1==true">
          <option value="all" selected>Todos Servidores</option>

          <optgroup *ngFor="let d of allservers" [label]="d.district">
            <option *ngFor="let server of d.servers" [value]="server.server_id">{{ server.name }}</option>
          </optgroup>
        </select>
      </mz-select-container>
    </div>
    <div class="{{disabled1==true?'input-field col s11 l3 m3':'input-field col s12 l4 m4'}}" *ngIf="translate.currentLang=='en'">
      <mz-select-container>

        <select mz-select mz-validation required id="server" [label]="'Server'" formControlName="server" (change)="search()" [disabled]="disabled1==true">
          <option value="all" selected>All Servers</option>
          <optgroup *ngFor="let d of allservers" [label]="d.district">
            <option *ngFor="let server of d.servers" [value]="server.server_id">{{ server.name }}</option>
          </optgroup>
        </select>
      </mz-select-container>
    </div>
    <div class="col s1 l1 m1" *ngIf="disabled1==true">
      <br>
      <br>
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="input-field col s6 l2 m2" *ngIf="translate.currentLang=='pt'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Sync de:'" [options]="options" formControlName="start_from" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>
    <div class="input-field col s6 l2 m2" *ngIf="translate.currentLang=='en'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Sync from:'" [options]="options" formControlName="start_from" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>
    <div class="input-field col s6 l2 m2" *ngIf="translate.currentLang=='pt'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'até:'" [options]="options" formControlName="start_until" type="date" (change)="search()" />
      </mz-datepicker-container>
    </div>
    <div class="input-field col s6 l2 m2" *ngIf="translate.currentLang=='en'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Until:'" [options]="options" formControlName="start_until" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>

  </div>
</form>

<div class="col s12 card" style="margin-top: -20px;">
  <div class="progress {{isHidden}}">
    <div class="indeterminate"></div>
  </div>
  <table class="bordered responsive-table highlight">
    <thead>
      <tr>
        <th>{{ "servername" | translate }}</th>
        <th>{{ "sync_time" | translate }}</th>
        <th>{{ "duration" | translate }}</th>
        <th>{{ "sync_error" | translate }}</th>
        <th>{{ "final_state" | translate }}</th>
        <th>{{ "updatedon" | translate }}</th>
        <th>{{ "actions" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr style="line-height: 15px;" *ngFor="let sync of syncs | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
        <td>{{ sync.server.name }}
          <br>
          <span style="font-size: 13px;color:rgb(121, 120, 120);">{{ sync.server.district.name }}</span>
        </td>
        <td *ngIf="sync.state=='Progress'">{{ sync.start_time | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td *ngIf="sync.state=='Complete'||sync.state=='Incomplete'">{{ sync.start_time | date: 'dd/MM/yyyy HH:mm' }} - {{ sync.end_time | date: 'HH:mm' }}</td>
        <td *ngIf="sync.state=='Progress' && sync.editable==true">
            <span style="float: left;text-align: center; margin-left: 0px;" class='new badge orange' data-badge-caption="EM PROGRESSO"></span>
        </td>
        <td *ngIf="sync.state=='Progress' && sync.editable==false">
            <span style="float: left;text-align: center; margin-left: 0px;" class='new badge red' data-badge-caption="NÃO CONCLUIDA"></span>
        </td>
        <td *ngIf="sync.state=='Complete'||sync.state=='Incomplete'">{{ sync.duration }}</td>
        <td *ngIf="sync.sync_error">
          <span style="color:red;">{{ "yes" | translate }}</span>
        </td>
        <td *ngIf="!sync.sync_error">
          {{ "no" | translate }}
        </td>
        <td *ngIf="sync.state=='Complete'">
          <span style="float: left;text-align: center;margin-left: 0px;" class='new badge green' data-badge-caption="SYNCHRONIZED"></span>
        </td>
        <td *ngIf="sync.state=='Progress' &&sync.editable==true">
            <div class="progress">
                <div class="indeterminate"></div>
              </div>
          </td>
          <td *ngIf="sync.state=='Progress' && sync.editable==false">
              <!--<span style="float: left;text-align: center;margin-left: 0px;" class='new badge red' data-badge-caption="NÃO CONCLUIDA"></span>-->
              -
          </td>
        <td *ngIf="sync.state=='Incomplete'">

          <span style="font-size: 13px;color:rgb(121, 120, 120);">{{ sync.end_items_to_send }} {{"items_to_s" | translate}} </span>
          <br>
          <span style="font-size: 13px;color:rgb(121, 120, 120);">{{ sync.end_items_to_receive }} {{"items_to_r" | translate}}</span>

        </td>
        <td>{{ sync.date_updated | date: 'dd/MM/yyyy' }}</td>
        <td>

          <a mz-tooltip [tooltip]="'Detalhes'" [position]="'top'" [html]="false" [delay]="100" (click)="setSync(sync.uuid)" (click)="basicModal2.open()"
            [routerLink]="">
            <i class="material-icons icon-green">info</i>
          </a>
          &nbsp;
          <a mz-tooltip [tooltip]="'Editar'" [position]="'top'" [html]="false" [delay]="100" [routerLink]="['/syncs', sync.uuid]" *ngIf="(ROLE_SIS||ROLE_ODMA)&&sync.editable">
            <i class="material-icons icon-orange">mode_edit</i>
          </a>
          <a mz-tooltip [tooltip]="'Não pode editar registos do passado'" [position]="'top'" [html]="false" [delay]="100" [routerLink]="" *ngIf="(ROLE_SIS||ROLE_ODMA)&&!sync.editable">
            <i class="material-icons" style="color:#CCC;">mode_edit</i>
          </a>


        </td>
      </tr>
    </tbody>

  </table>
</div>
<pagination-controls *ngIf="(ROLE_GDD||ROLE_ODMA||ROLE_ORMA)&&districts_filter==false&&servers_filter==false&&date_filter==false"
  autoHide="true" previousLabel="" nextLabel="" (pageChange)="getPageSync($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="(ROLE_SIS||ROLE_OA||ROLE_GMA)&&districts_filter==false&&servers_filter==false&&date_filter==false"
  autoHide="true" previousLabel="" nextLabel="" (pageChange)="getAllPageSync($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="districts_filter==true&&servers_filter==false&&date_filter==false" autoHide="true" previousLabel=""
  nextLabel="" (pageChange)="getPageSyncByDistrict($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="(ROLE_GDD||ROLE_ODMA||ROLE_ORMA)&&districts_filter==false&&servers_filter==false&&date_filter==true"
  autoHide="true" previousLabel="" nextLabel="" (pageChange)="getPageSyncDate($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="(ROLE_SIS||ROLE_OA||ROLE_GMA)&&districts_filter==false&&servers_filter==false&&date_filter==true"
  autoHide="true" previousLabel="" nextLabel="" (pageChange)="getAllPageSyncDate($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="districts_filter==true&&servers_filter==false&&date_filter==true" autoHide="true" previousLabel=""
  nextLabel="" (pageChange)="getPageSyncByDistrictDate($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="districts_filter==false&&servers_filter==true&&date_filter==false" autoHide="true" previousLabel=""
  nextLabel="" (pageChange)="getPageSyncByServer($event)" id="server" class="right-align"></pagination-controls>
<pagination-controls *ngIf="districts_filter==false&&servers_filter==true&&date_filter==true" autoHide="true" previousLabel=""
  nextLabel="" (pageChange)="getPageSyncByServerDate($event)" id="server" class="right-align"></pagination-controls>




<mz-modal #basicModal2 [fixedFooter]="true">
  <mz-modal-header>
    <h4>{{ "syncdetails" | translate }}</h4>
  </mz-modal-header>
  <mz-modal-content>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12">
        <h5 class="light">{{sync.server.name}}</h5>
      </div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2">{{ "district" | translate }}:</div>
      <div class="col s12 l10 m10">{{sync.server.district.name}}</div>
    </div>
    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2">{{ "sync_time" | translate }}:</div>
      <div class="col s12 l10 m10" *ngIf="sync.state=='Complete'||sync.state=='Incomplete'">{{ sync.start_time | date: 'dd/MM/yyyy HH:mm' }} - {{ sync.end_time | date: 'HH:mm' }}</div>
      <div class="col s12 l10 m10" *ngIf="sync.state=='Progress'">{{ sync.start_time | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2">{{ "duration" | translate }}:</div>
      <div class="col s12 l10 m10" *ngIf="sync.state=='Progress'&&sync.editable==true"><span style="float: left;text-align: center; margin-left: 0px;" class='new badge orange' data-badge-caption="EM PROGRESSO"></span></div>
      <div class="col s12 l10 m10" *ngIf="sync.state=='Progress'&&sync.editable==false"><span style="float: left;text-align: center; margin-left: 0px;" class='new badge red' data-badge-caption="NÃO CONCLUIDA"></span></div>
      <div class="col s12 l10 m10" *ngIf="sync.state=='Complete'||sync.state=='Incomplete'">{{ sync.duration }}</div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2">{{ "items_onstart" | translate }}:</div>
      <div class="col s12 l10 m10">{{ sync.start_items_to_send }} {{ "items_send" | translate }}
        <br>{{ sync.start_items_to_receive }} {{ "items_receive" | translate }}</div>
    </div>

    <div class="row" style="margin-top: -11px;" *ngIf="sync.end_time!=null">
      <div class="col s12 l2 m2">{{ "items_onend" | translate }}:</div>
      <div class="col s12 l10 m10" >{{ sync.end_items_to_send }} {{ "items_send" | translate }}
        <br>{{ sync.end_items_to_receive }} {{ "items_receive" | translate }}</div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2"></div>
      <div class="col s12 l10 m10">
        <input type="checkbox" id="update_finished" checked="{{sync.sync_error==true?'checked':''}}" onclick="return false;" />
        <label for="update_finished">{{ "sync_error_desc" | translate }}</label>
      </div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2"></div>
      <div class="col s12 l10 m10">
        <input type="checkbox" id="serverfault" checked="{{sync.serverfault==true?'checked':''}}" onclick="return false;" />
        <label for="serverfault">{{ "serverfault" | translate }}</label>
      </div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2"></div>
      <div class="col s12 l10 m10">
        <input type="checkbox" id="laptopfault" checked="{{sync.laptopfault==true?'checked':''}}" onclick="return false;" />
        <label for="laptopfault">{{ "laptopfault" | translate }}</label>
      </div>
    </div>

    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2"></div>
      <div class="col s12 l10 m10">
        <input type="checkbox" id="powercut" checked="{{sync.powercut==true?'checked':''}}" onclick="return false;" />
        <label for="powercut">{{ "powercut" | translate }}</label>
      </div>
    </div>

    <div class="row" *ngIf="sync.state=='Complete'">
      <div class="col s12 l2 m2"></div>
      <div class="col s12 l10 m10">
        <span style="float: left;text-align: center;" class='new badge green' data-badge-caption="SYNCHRONIZED"></span>
      </div>
    </div>

    <div class="row" *ngIf="sync.state=='Incomplete'">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <span style="float: left;text-align: center;" class='new badge red' data-badge-caption="NOT SYNCHRONIZED"></span>
        </div>
      </div>

      <div class="row" style="margin-top: -11px;" *ngIf="sync.observation!=null">
      <div class="col s12 l2 m2">{{ "obs_district" | translate }}:</div>
      <div class="col s12 l10 m10">{{sync.observation}}</div>
    </div>
    <div class="row" style="margin-top: -11px;" *ngIf="sync.observation_his!=null">
      <div class="col s12 l2 m2">{{ "obs_his" | translate }}:</div>
      <div class="col s12 l10 m10">{{sync.observation_his}}</div>
    </div>
    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2">{{ "createdby" | translate }}:</div>
      <div class="col s12 l10 m10">{{sync.created_by.person.others_names}} {{sync.created_by.person.surname}} - {{sync.date_created | date: 'dd/MM/yyyy HH:mm'}}</div>
    </div>

    <div class="row" *ngIf="sync.updated_by!=null" style="margin-top: -11px;">
      <div class="col s12 l2 m2">{{ "updatedby" | translate }}:</div>
      <div class="col s12 l10 m10">{{sync.updated_by.person.others_names}} {{sync.updated_by.person.surname}} - {{sync.date_updated | date: 'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="row" style="margin-top: -11px;">
      <div class="col s12 l2 m2"></div>
      <div class="col s12 l10 m10">
        <span style="color:lightgrey;">{{sync.uuid}}</span>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ "close" | translate }}</button>
  </mz-modal-footer>
</mz-modal>


<div class="fixed-action-btn" style="bottom: 20px; right: 89px;" *ngIf="date_filter==true">
  <a class="btn-floating btn-large orange">
    <i class="large material-icons">insert_chart</i>
  </a>
  <ul>
    <li>
      <a mz-tooltip [tooltip]="'Baixar Lista'" [position]="'left'" [html]="false" [delay]="100" (click)="printList()" class="btn-floating blue {{isDisabledt}}">
        <i class="material-icons">file_download</i>
      </a>
    </li>
  </ul>
</div>

<div class="fixed-action-btn" style="bottom: 20px; right: 20px;" *ngIf="ROLE_SIS||ROLE_ODMA">
  <a mz-tooltip [tooltip]="'Registar Sincronização'" [position]="'top'" [html]="false" [delay]="100" class="btn-floating btn-large waves-effect waves-light green"
    routerLink="/syncs/new">
    <i class="material-icons">add</i>
  </a>
</div>