
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
    <h1 class="mat-h1"  *ngIf="title=='Receber Backup'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/receives"><mat-icon>arrow_back</mat-icon></a> {{ "receivenew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
      <h1 class="mat-h1"  *ngIf="title=='Editar Recepcão de Backup'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/receives"><mat-icon>arrow_back</mat-icon></a>{{ "receiveedit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  
  <mat-card>

        <mat-card-title *ngIf="!receive.receiveId">{{send.district.fullName}}</mat-card-title>
        <mat-card-subtitle *ngIf="!receive.receiveId">{{send.backupDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

        <mat-card-title *ngIf="receive.receiveId">{{receive.send.district.fullName}}</mat-card-title>
        <mat-card-subtitle *ngIf="receive.receiveId">{{receive.send.backupDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

      <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">

            <mat-form-field style="width: 47%;">
                    <mat-label>{{'receivedate' | translate }} *</mat-label>
                    <input matInput autocomplete="off" onkeypress="return false;" [max]="maxDate" (click)="picker.open()" [matDatepicker]="picker" placeholder="{{ 'receivedate' | translate }}" [(ngModel)]="receive.receiveDate" formControlName="receiveDate"> 
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            <br><br>

            <mat-checkbox   checked="{{receive.ikReturned==true?'checked':''}}" [(ngModel)]="receive.ikReturned" formControlName="ikReturned">{{ "ikreturned" | translate }} </mat-checkbox>
            <br><br>
            <mat-form-field *ngIf="receive.ikReturned" style="width: 47%;">
                    <mat-label>{{'returndate' | translate }} *</mat-label>
                    <input matInput autocomplete="off" onkeypress="return false;" [max]="maxDate" (click)="picker2.open()" [matDatepicker]="picker2" placeholder="{{ 'returndate' | translate }}" [(ngModel)]="receive.dateIkReturned" formControlName="dateIkReturned"> 
                    <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>

            <mat-form-field *ngIf="receive.ikReturned" style="width: 43%; margin-left: 5%;" >
                    <mat-label>{{'transporter' | translate }} *</mat-label>
                    <input type="text" placeholder="Seleccione um" aria-label="Number"  matInput (input)="search($event.target.value)" [matAutocomplete]="auto" [(ngModel)]="receive.transporter" formControlName="transporter">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                      <mat-option *ngFor="let transporter of alltransporters" [value]="transporter">{{transporter.name}} ({{transporter.phoneNumber}})</mat-option>
                    </mat-autocomplete>
                    <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>

            <a *ngIf="receive.ikReturned" target="_blank" routerLink="/transporters/new" mat-icon-button matTooltip="Adicionar novo Transportador">
              <mat-icon>add</mat-icon>
          </a>

          <br><br>


          <br><br>

          <mat-checkbox   checked="{{receive.restored==true?'checked':''}}" [(ngModel)]="receive.restored" formControlName="restored">{{ "backuprestored" | translate }} </mat-checkbox>
          <br><br>
          <mat-form-field *ngIf="receive.restored" style="width: 47%;">
                  <mat-label>{{'restoreddate' | translate }} *</mat-label>
                  <input matInput autocomplete="off" onkeypress="return false;" [max]="maxDate" (click)="picker3.open()" [matDatepicker]="picker3" placeholder="{{ 'restoreddate' | translate }}" [(ngModel)]="receive.dateRestored" formControlName="dateRestored"> 
                  <mat-datepicker-toggle matPrefix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

        <br><br>

      

        <mat-form-field style="width: 50%;">
                <textarea rows="3"  placeholder="{{'obs_his' | translate }}" matInput maxlength="255" [(ngModel)]="receive.observation" formControlName="observation"></textarea>
           </mat-form-field>
           <br><br>


    
           <mat-checkbox *ngIf="receive.receiveId==null" [(ngModel)]="receive.send.canceled" formControlName="sendCanceled">{{ "cancelit" | translate }}</mat-checkbox>
           <br><br>
           <mat-form-field  style="width: 100%;" *ngIf="receive.send.canceled">
             
               <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
               <input type="text" matInput placeholder="" [(ngModel)]="receive.send.canceledReason" formControlName="sendCanceledReason">
               <mat-icon matPrefix>label_outline</mat-icon>
           </mat-form-field>
           
           <br>


        <mat-checkbox *ngIf="receive.receiveId!=null" [(ngModel)]="receive.canceled" formControlName="canceled">{{ "cancelit" | translate }}</mat-checkbox>
        <br><br>
        <mat-form-field  style="width: 100%;" *ngIf="receive.canceled">
          
            <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
            <input type="text" matInput placeholder="" [(ngModel)]="receive.canceledReason" formControlName="canceledReason">
            <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>
        
        <br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled||disabled1==true" matTooltip="Salvar registo">{{ "save" | translate }}</button>
            <button mat-raised-button routerLink="/receives" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
          </mat-card-actions>
  
  </form>
  
  </mat-card-content>
  </mat-card>
  </div>