<!--
@author damasceno.lopes
@email damasceno.lopes@fgh.org.mz
-->

<br>
<h5 class="light" *ngIf="received==false">{{ total }} {{ "sendsfound" | translate }}</h5>
<h5 class="light" *ngIf="received==true">{{ total }} {{ "receivesfound" | translate }}</h5>

<form materialize [formGroup]="form">
  <div class="row">
    <div class="input-field col s12 l4 m4" *ngIf="translate.currentLang=='pt'">
      <mz-select-container>
        <select mz-select mz-validation required id="district" [label]="'Distrito'" formControlName="district" (change)="search()">
          <option value="all" selected>Todos Distritos</option>
          <option *ngFor="let district of alldistricts" [value]="district.district_id">{{ district.namef }}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="input-field col s12 l4 m4" *ngIf="translate.currentLang=='en'">
      <mz-select-container>

        <select mz-select mz-validation required id="district" [label]="'District'" formControlName="district" (change)="search()">
          <option value="all" selected>All Districts</option>
          <option *ngFor="let district of alldistricts" [value]="district.district_id">{{ district.namef }}</option>
        </select>
      </mz-select-container>
    </div>
   
    <div class="col s12 l2 m2" style="margin-top: 45px;">
      <input type="checkbox" class="filled-in" id="receiveds" formControlName="received" (change)="search()" />
      <label for="receiveds">{{ "hisreceived" | translate }}</label>
    </div>

    <div class="input-field col s6 l3 m3" *ngIf="translate.currentLang=='pt'" >
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Backup de:'" [options]="options" formControlName="backup_from" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>
    <div class="input-field col s6 l3 m3" *ngIf="translate.currentLang=='en'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Backup from:'" [options]="options" formControlName="backup_from" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>
    <div class="input-field col s6 l3 m3" *ngIf="translate.currentLang=='pt'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'até:'" [options]="options" formControlName="backup_until" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>
    <div class="input-field col s6 l3 m3" *ngIf="translate.currentLang=='en'">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Until:'" [options]="options" formControlName="backup_until" type="date" (change)="search()"
        />
      </mz-datepicker-container>
    </div>

  </div>
</form>

<div class="col s12 card" style="margin-top: -20px;">
  <div class="progress {{isHidden}}">
    <div class="indeterminate"></div>
  </div>
  <table class="bordered responsive-table highlight">
    <thead>
      <tr>
        <th>{{ "district" | translate }}</th>
        <th>{{ "backup_date" | translate }}</th>
        <th>{{ "received" | translate }}</th>
        <th *ngIf="received==true">{{ "ik_received" | translate }}</th>
        <th>{{ "updatedon" | translate }}</th>
        <th>{{ "actions" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let send of sends | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
        <td>{{ send.district.namef }}</td>
        <td>{{ send.backup_date | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="send.received">
          {{ "yes" | translate }}
        </td>
        <td *ngIf="!send.received" >
          <span style="color:red;">{{ "no" | translate }}</span>
        </td>

        <td *ngIf="received==true&&send.ik_received">
          {{ "yes" | translate }}
        </td>
        <td *ngIf="received==true&&!send.ik_received" >
          <span style="color:red;">{{ "no" | translate }}</span>
        </td>
       
        <td>{{ send.date_updated | date: 'dd/MM/yyyy' }}</td>
        <td>

            <a mz-tooltip [tooltip]="'Detalhes'" [position]="'top'" [html]="false" [delay]="100" (click)="setSend(send.uuid)" (click)="basicModal2.open()"
            [routerLink]="">
            <i class="material-icons icon-green">info</i>
          </a>
          &nbsp;
          <a mz-tooltip [tooltip]="'Editar'" [position]="'top'" [html]="false" [delay]="100" [routerLink]="['/send', send.uuid]">
            <i class="material-icons icon-orange">mode_edit</i>
          </a>
          &nbsp;
          <a mz-tooltip [tooltip]="'Imprimir Protocolo'" [position]="'top'" [html]="false" [delay]="100" (click)="setSend(send.uuid)" (click)="printSend()" [routerLink]="">
            <i class="material-icons icon-green">print</i>
          </a>
         
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls autoHide="true" previousLabel="" nextLabel="" (pageChange)="getPage($event)" id="server" class="right-align"></pagination-controls>

<mz-modal #basicModal2 [fixedFooter]="true">
    <mz-modal-header>
      <h4>{{ "backupdetails" | translate }}</h4>
      <div class="progress {{isHidden2m}}">
        <div class="indeterminate"></div>
      </div>
    </mz-modal-header>
    <mz-modal-content *ngIf="isHidden2m=='hide'">
      
        <div class="row" style="margin-top: -11px;">
            <div class="col s12">
              <h5 class="light">{{send.district.province}} / {{send.district.namef}}</h5>
            </div>
          </div>
  
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2">{{ "backup_date" | translate }}:</div>
        <div class="col s12 l10 m10">{{send.backup_date | date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2">{{ "transporter" | translate }}:</div>
        <div class="col s12 l10 m10">{{send.transporter.name}} - {{send.transporter.phone_number}}</div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <input type="checkbox" id="update_finished" checked="{{send.update_finished==true?'checked':''}}" onclick="return false;"
          />
          <label for="update_finished">{{ "at" | translate }}</label>
        </div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <input type="checkbox" id="sync_finished" checked="{{send.sync_finished==true?'checked':''}}" onclick="return false;" />
          <label for="sync_finished">{{ "st" | translate }}</label>
        </div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <input type="checkbox" id="cross_dhis2_finished" checked="{{send.cross_dhis2_finished==true?'checked':''}}" onclick="return false;"
          />
          <label for="cross_dhis2_finished">{{ "dhis2" | translate }}</label>
        </div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <input type="checkbox" id="cross_idart_finished" checked="{{send.cross_idart_finished==true?'checked':''}}" onclick="return false;"
          />
          <label for="cross_idart_finished">{{ "idart" | translate }}</label>
        </div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <input type="checkbox" id="validation_finished" checked="{{send.validation_finished==true?'checked':''}}" onclick="return false;"
          />
          <label for="validation_finished">{{ "vt" | translate }}</label>
        </div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l3 m3">
          <input type="checkbox" id="idart_backup" checked="{{send.idart_backup==true?'checked':''}}" onclick="return false;" />
          <label for="idart_backup">{{ "include_idart_backup" | translate }}</label>
        </div>
        <div class="col s12 l7 m7" *ngIf="send.idart_backup">{{send.idart_backup_date | date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2">{{ "obs_district" | translate }}:</div>
        <div class="col s12 l10 m10">{{send.observation}}</div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l3 m3">
          <input type="checkbox" id="received" checked="{{send.received==true?'checked':''}}" onclick="return false;" />
          <label for="received">{{ "hisreceived" | translate }}</label>
        </div>
        <div class="col s12 l7 m7" *ngIf="send.received">{{send.receivername}} - {{send.receivedate | date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l3 m3">
          <input type="checkbox" id="ik_returned" checked="{{send.ik_returned==true?'checked':''}}" onclick="return false;" />
          <label for="ik_returned">{{ "ikreturned" | translate }}</label>
        </div>
        <div class="col s12 l3 m3" *ngIf="send.ik_returned">{{send.ik_returnedto}} - {{send.ik_returneddate | date: 'dd/MM/yyyy'}}</div>
        <div class="col s12 l3 m3">
          <input type="checkbox" id="ik_receivedd" checked="{{send.ik_received==true?'checked':''}}" onclick="return false;" />
          <label for="ik_receivedd">{{ "ik_received" | translate }}</label>
        </div>
      </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l3 m3">
          <input type="checkbox" id="restored" checked="{{send.restored==true?'checked':''}}" onclick="return false;" />
          <label for="restored">{{ "backuprestored" | translate }}</label>
        </div>
        <div class="col s12 l7 m7" *ngIf="send.restored" >{{send.restorername}} - {{send.date_restored | date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="row" style="margin-top: -11px;" *ngIf="send.sis_observation!=null">
        <div class="col s12 l2 m2">{{ "obs_his" | translate }}:</div>
        <div class="col s12 l10 m10">{{send.sis_observation}}</div>
      </div>
     <div class="row" style="margin-top: -11px;">
          <div class="col s12 l2 m2">{{ "createdby" | translate }}:</div>
          <div class="col s12 l10 m10">{{send.created_by.person.others_names}} {{send.created_by.person.surname}} - {{send.date_created | date: 'dd/MM/yyyy HH:mm'}}</div>
        </div>
      
        <div class="row" *ngIf="send.updated_by!=null" style="margin-top: -11px;">
          <div class="col s12 l2 m2">{{ "updatedby" | translate }}:</div>
          <div class="col s12 l10 m10">{{send.updated_by.person.others_names}} {{send.updated_by.person.surname}} - {{send.date_updated | date: 'dd/MM/yyyy HH:mm'}}</div>
        </div>
      <div class="row" style="margin-top: -11px;">
        <div class="col s12 l2 m2"></div>
        <div class="col s12 l10 m10">
          <span style="color:lightgrey;">{{send.uuid}}</span>
        </div>
      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button mz-button [flat]="true" mz-modal-close>{{ "close" | translate }}</button>
    </mz-modal-footer>
  </mz-modal>

<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
  <a mz-tooltip [tooltip]="'Registar Envio de Backup'" [position]="'top'" [html]="false" [delay]="100" class="btn-floating btn-large waves-effect waves-light green" routerLink="/send/new">
    <i class="material-icons">add</i>
  </a>
</div>