
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
    <h1 class="mat-h1"  *ngIf="title=='Novo Utilizador'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/users"><mat-icon>arrow_back</mat-icon></a> {{ "usernew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
      <h1 class="mat-h1"  *ngIf="title=='Editar Utilizador'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/users"><mat-icon>arrow_back</mat-icon></a>{{ "useredit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  
  <mat-card>
      <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">


      <mat-form-field style="width: 47%;">
          <mat-label>{{ 'others_names' | translate }} *</mat-label>
          <input type="text" matInput placeholder="{{ 'others_names' | translate }}" [(ngModel)]="user.person.othersNames" formControlName="others_names">
          <mat-icon matPrefix>person_outline</mat-icon>
        </mat-form-field>

        <mat-form-field style="width: 47%;margin-left: 5%;">
            <mat-label>{{ 'surname' | translate }} *</mat-label>
            <input type="text" matInput placeholder="{{ 'surname' | translate }}" [(ngModel)]="user.person.surname" formControlName="surname">
            <mat-icon matPrefix>person_outline</mat-icon>
          </mat-form-field>
        <br><br>
  
        <mat-form-field style="width: 21%;">
            <mat-label>{{ 'gender' | translate }} *</mat-label>
            <mat-select [(ngModel)]="user.person.gender" formControlName="gender">
              <mat-option>{{ 'select' | translate }}</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender.name">{{gender.description }}</mat-option>
            </mat-select>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
  
        <mat-form-field style="width: 21%;margin-left: 5%;">
            <mat-label>{{ 'phone' | translate }}</mat-label>
            <input type="number" matInput placeholder="{{ 'phone' | translate }}" [(ngModel)]="user.person.phoneNumber" formControlName="phone_number">
            <mat-icon matPrefix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field style="width: 47%;margin-left: 5%;">
            <mat-label>{{ 'email' | translate }}</mat-label>
            <input autocomplete="new-password" type="email" matInput placeholder="{{ 'email' | translate }}" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="user.person.email" formControlName="email">
            <mat-icon  matPrefix>email</mat-icon>
        </mat-form-field>

        <br><br>

        <mat-form-field style="width: 47%;">
            <mat-label>{{ 'username' | translate }} *</mat-label>
            <input autocomplete="new-password" (keydown.space)="$event.preventDefault()" onDrag="return false" onDrop="return false" onPaste="return false" [readonly]="user.userId!=null" type="text" matInput placeholder="{{ 'username' | translate }}" [(ngModel)]="user.username" formControlName="username">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <mat-form-field style="width: 47%;margin-left: 5%;" *ngIf="!user.userId">
            <mat-label>{{ 'password' | translate }} *</mat-label>
            <input type="password" autocomplete="new-password" matInput placeholder="{{ 'password' | translate }}" [(ngModel)]="user.password" formControlName="password">
            <mat-icon matPrefix>vpn_key</mat-icon>
          </mat-form-field>

          <mat-form-field style="width: 47%;margin-left: 5%;" *ngIf="user.userId">
              <mat-label>{{ 'password' | translate }} *</mat-label>
              <input type="password" autocomplete="new-password" matInput placeholder="{{ 'password' | translate }}"  formControlName="password_new">
              <mat-icon matPrefix>vpn_key</mat-icon>
            </mat-form-field>
            <br><br>

            <mat-form-field style="width: 100%;">
                <mat-label>{{'function' | translate }} *</mat-label>
                <mat-select [(ngModel)]="user.authorities" formControlName="authorities" multiple>
                  <mat-option *ngFor="let authority of allauthorities" [value]="authority">{{ authority.description }}</mat-option>
                </mat-select>
                <mat-icon matPrefix>person_outline</mat-icon>
            </mat-form-field>
            <br><br>

            <mat-form-field style="width: 100%;">
                <mat-label>{{'district' | translate }} *</mat-label>
                <mat-select [(ngModel)]="user.districts" formControlName="districts" multiple>
                  <mat-option *ngFor="let district of alldistricts" [value]="district">{{ district.fullName }}</mat-option>
                </mat-select>
                <mat-icon matPrefix>location_on</mat-icon>
            </mat-form-field>
            <br><br>

            <mat-form-field style="width: 100%;">
                <mat-label>{{ 'language' | translate }} *</mat-label>
                <mat-select [(ngModel)]="user.locale" formControlName="locale">
                  <mat-option>{{ 'select' | translate }}</mat-option>
                  <mat-option *ngFor="let language of languages" [value]="language.name">{{language.description }}</mat-option>
                </mat-select>
                <mat-icon matPrefix>language</mat-icon>
            </mat-form-field>

            <br> <br>

        <mat-checkbox *ngIf="user.userId" [(ngModel)]="user.enabled" formControlName="enabled">{{ "enabled" | translate }}</mat-checkbox>

        
        <br> <br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled||disabled1==true" matTooltip="Salvar registo">{{ "save" | translate }}</button>
            <button mat-raised-button routerLink="/users" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
          </mat-card-actions>
  
  </form>
  
  </mat-card-content>
  </mat-card>
  </div>