
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
        <h1 class="mat-h1"  *ngIf="title=='Enviar Backup'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/sends"><mat-icon>arrow_back</mat-icon></a> {{ "sendnew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
          <h1 class="mat-h1"  *ngIf="title=='Editar Envio de Backup'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/sends"><mat-icon>arrow_back</mat-icon></a>{{ "sendedit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
      
      <mat-card>
          <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="save()">
    
          <mat-form-field style="width: 100%;">
                  <mat-label>{{'district' | translate }}</mat-label>
                  <mat-select [(ngModel)]="send.district" formControlName="district" >
                    <mat-option>Seleccione</mat-option>
                    <mat-option *ngFor="let district of alldistricts" [value]="district">{{ district.fullName }}</mat-option>
                  </mat-select>
                  <mat-icon matPrefix>location_on</mat-icon>
              </mat-form-field>
              <br><br>
              <mat-form-field style="width: 43%;">
                    <mat-label>{{'transporter' | translate }} *</mat-label>
                    <input type="text" placeholder="Seleccione um" aria-label="Number"  matInput (input)="search($event.target.value)" [matAutocomplete]="auto" [(ngModel)]="send.transporter" formControlName="transporter">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                      <mat-option *ngFor="let transporter of alltransporters" [value]="transporter">{{transporter.name}} ({{transporter.phoneNumber}})</mat-option>
                    </mat-autocomplete>
                    <mat-icon matPrefix>search</mat-icon>
                  </mat-form-field>

                  <a target="_blank" routerLink="/transporters/new" mat-icon-button matTooltip="Adicionar novo Transportador">
                      <mat-icon>add</mat-icon>
                  </a>

                  <mat-form-field style="width: 47%;margin-left: 5%;">
                        <mat-label>{{'backup_date' | translate }} *</mat-label>
                        <input matInput autocomplete="off" (click)="picker.open()" onkeypress="return false;" [max]="maxDate" [matDatepicker]="picker" placeholder="{{ 'backup_date' | translate }}" [(ngModel)]="send.backupDate" formControlName="backupDate"> 
                        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                <br><br>

                <p>
                      <mat-checkbox checked="{{send.updateFinished==true?'checked':''}}" [(ngModel)]="send.updateFinished" formControlName="updateFinished">{{ "at" | translate }}</mat-checkbox><br>
                      <mat-checkbox checked="{{send.syncFinished==true?'checked':''}}" [(ngModel)]="send.syncFinished" formControlName="syncFinished">{{ "st" | translate }}</mat-checkbox><br>
                      <mat-checkbox checked="{{send.crossDhis2Finished==true?'checked':''}}" [(ngModel)]="send.crossDhis2Finished" formControlName="crossDhis2Finished">{{ "dhis2" | translate }}</mat-checkbox><br>
                      <mat-checkbox checked="{{send.crossIdartFinished==true?'checked':''}}" [(ngModel)]="send.crossIdartFinished" formControlName="crossIdartFinished">{{ "idart" | translate }}</mat-checkbox><br>
                      <mat-checkbox checked="{{send.validationFinished==true?'checked':''}}" [(ngModel)]="send.validationFinished" formControlName="validationFinished">{{ "vt" | translate }}</mat-checkbox><br>
                     
                      <br><br>
                      <mat-checkbox checked="{{send.idartBackup==true?'checked':''}}" [(ngModel)]="send.idartBackup" formControlName="idartBackup">{{ "include_idart_backup" | translate }} </mat-checkbox>

                      <mat-form-field style="width: 47%;margin-left: 5%;" *ngIf="send.idartBackup">
                            <mat-label>{{'idart_backup_date' | translate }} *</mat-label>
                            <input matInput [max]="maxDate" autocomplete="off" onkeypress="return false;" [matDatepicker]="picker2" placeholder="{{ 'idart_backup_date' | translate }}" [(ngModel)]="send.idartBackupDate" formControlName="idartBackupDate"> 
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>

                     </p>
        

                     <br><br>
          

            <mat-form-field style="width: 50%;">
                    <textarea rows="3"  placeholder="{{'observation' | translate }} *" matInput maxlength="255" [(ngModel)]="send.observation" formControlName="observation"></textarea>
               </mat-form-field>
               <br><br>
    
            <mat-checkbox *ngIf="send.sendId!=null&&send.received==false" [(ngModel)]="send.canceled" formControlName="canceled">{{ "cancelit" | translate }}</mat-checkbox>
            <br><br>
            <mat-form-field  style="width: 100%;" *ngIf="send.canceled">
              
                <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
                <input type="text" matInput placeholder="" [(ngModel)]="send.canceledReason" formControlName="canceledReason">
                <mat-icon matPrefix>label_outline</mat-icon>
            </mat-form-field>
            
            <br>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled||disabled1==true" matTooltip="Salvar registo">{{ "save" | translate }}</button>
                <button mat-raised-button routerLink="/sends" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
              </mat-card-actions>
      
      </form>
      
      </mat-card-content>
      </mat-card>
      </div>