<!--
@author damasceno.lopes
@email damasceno.lopes@fgh.org.mz
-->

<br>
<h5 class="light" *ngIf="title=='Novo Server'" style="display: inline-flex;vertical-align: middle;">
  <a routerLink="/servers" mz-tooltip [tooltip]="'Voltar'" [position]="'left'" [html]="false" [delay]="100">
    <i class="material-icons waves-effect left" style="color: black;">arrow_back</i>
  </a> {{ "servernew" | translate }}</h5>
<h5 class="light" *ngIf="title=='Editar Server'" style="display: inline-flex;vertical-align: middle;">
  <a routerLink="/servers" mz-tooltip [tooltip]="'Voltar'" [position]="'left'" [html]="false" [delay]="100">
    <i class="material-icons waves-effect left" style="color: black;">arrow_back</i>
  </a> {{ "serveredit" | translate }}</h5>

<div class="card-panel">
  <div class="row">
    <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">

        <div class="row">
            <div class="{{disabled1==true?'input-field col s10 l11 m11':'input-field cols12 l12 m12'}}" *ngIf="translate.currentLang=='pt'">
              <mz-select-container>
                <i mz-icon mz-input-prefix [icon]="'location_on'">
                </i>
                <select mz-select mz-validation required id="district" [label]="'Distrito *'" [placeholder]="'Seleccione o Distrito'" [(ngModel)]="server.district"
                  formControlName="district" [disabled]="disabled1">
                  <option *ngFor="let district of alldistricts" [ngValue]="district" >{{ district.name }}</option>
                </select>
              </mz-select-container>
            </div>
            <div class="{{disabled1==true?'input-field col s10 l11 m11':'input-field cols12 l12 m12'}}" *ngIf="translate.currentLang=='en'">
              <mz-select-container>
                <i mz-icon mz-input-prefix [icon]="'location_on'">
                </i>
                <select mz-select mz-validation required id="district" [label]="'District *'" [placeholder]="'Select the District'" [(ngModel)]="server.district"
                  formControlName="district" [disabled]="disabled1">
                  <option *ngFor="let district of alldistricts" [ngValue]="district">{{ district.name }}</option>
                </select>
              </mz-select-container>
            </div>

            <div class="col s1 l1 m1" *ngIf="disabled1==true">
                <br>
                <br>
                <div class="preloader-wrapper small active">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>

          </div>

      <div class="row">
        <div class="input-field col s12 l6 m6">
          <i class="material-icons prefix">label_outline</i>
          <input id="name" type="text" class="validate" [(ngModel)]="server.name" formControlName="name" [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">
          <label for="name" [class.active]="server.name" data-error="O Nome do Servidor deve ser preenchido.">
            {{ "servername" | translate }} *
          </label>
        </div>
      

     
          <div class="input-field col s12 l6 m6" *ngIf="translate.currentLang=='pt'" style="margin-top: 1px;">
            <mz-select-container>
              <i mz-icon mz-input-prefix [icon]="'perm_identity'">
              </i>
              <select mz-select id="type" [label]="'Tipo de Servidor *'" [placeholder]="'Seleccione'" [(ngModel)]="server.type" formControlName="type">
                <option *ngFor="let type of types" [value]="type.name" [selected]="type.name == server.type">{{ type.name }}</option>
              </select>
            </mz-select-container>
          </div>
     
          <div class="input-field col s12 l6 m6" *ngIf="translate.currentLang=='en'">
            <mz-select-container>
              <i mz-icon mz-input-prefix [icon]="'perm_identity'">
              </i>
              <select mz-select id="type" [label]="'Tipo de Servidor *'" [placeholder]="'Seleccione'" [(ngModel)]="server.type" formControlName="type">
                  <option *ngFor="let type of types" [value]="type.name" [selected]="type.name == server.type">{{ type.name }}</option>
                </select>
            </mz-select-container>
          </div>
        </div>
       
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <textarea id="textarea1" class="materialize-textarea" maxlength="255" [(ngModel)]="server.observation" formControlName="observation"></textarea>
          <label for="textarea1" [class.active]="server.observation">{{ "observation" | translate }}</label>
        </div>
      </div>


      <div class="row" class="row {{ isHidden }}">
          <div class="col s12 l2 m2" style="margin-left: 45px;margin-top: 25px;">
            <input type="checkbox" class="filled-in" id="canceled" [(ngModel)]="server.canceled" formControlName="canceled" />
            <label for="canceled">{{ "cancelit" | translate }}</label>
          </div>
          <div class="input-field col s12 l8 m8" *ngIf="server.canceled">
            <i class="material-icons prefix">label_outline</i>
            <input id="canceled_reason" type="text" class="validate" [(ngModel)]="server.canceled_reason" formControlName="canceled_reason">
            <label for="canceled_reason" [class.active]="server.canceled_reason">
              {{ "cancelitreason" | translate }}
            </label>
          </div>
        </div>

      <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid||isDisabled||disabled1||server.district.name==null">
        {{ "save" | translate }}
        <i class="material-icons right">send</i>
      </button>
      <a *ngIf="!isDisabled" class="waves-effect waves-teal btn-flat" routerLink="/servers">
        <span class="orange-text text-darken-3">{{ "cancel" | translate }}</span>
      </a>
    </form>
  </div>
</div>