
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
    <h1 class="mat-h1"  *ngIf="title=='Novo Server'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/servers"><mat-icon>arrow_back</mat-icon></a> {{ "servernew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
      <h1 class="mat-h1"  *ngIf="title=='Editar Server'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/servers"><mat-icon>arrow_back</mat-icon></a>{{ "serveredit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  
  <mat-card>
      <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">

      <mat-form-field style="width: 100%;">
              <mat-label>{{'district' | translate }}</mat-label>
              <mat-select [(ngModel)]="server.district" formControlName="district" >
                <mat-option>Seleccione</mat-option>
                <mat-option *ngFor="let district of alldistricts" [value]="district">{{ district.name }}</mat-option>
              </mat-select>
              <mat-icon matPrefix>location_on</mat-icon>
          </mat-form-field>
          <br><br>
      <mat-form-field style="width: 100%;">
          <mat-label>{{ 'servername' | translate }} *</mat-label>
          <input type="text" matInput placeholder="{{ 'servername' | translate }}" [(ngModel)]="server.name" formControlName="name">
          <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>
        <br><br>
  
        <mat-form-field style="width: 100%;">
            <mat-label>{{ 'type' | translate }} *</mat-label>
            <mat-select [(ngModel)]="server.type" formControlName="type">
              <mat-option>{{ 'select' | translate }}</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.name">{{type.name }}</mat-option>
            </mat-select>
            <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>
        <br><br>
  
        <mat-form-field style="width: 50%;">
            <textarea rows="3"  placeholder="{{'description' | translate }}" matInput maxlength="255" [(ngModel)]="server.description" formControlName="observation"></textarea>
       </mat-form-field>
        <br><br>

        <mat-checkbox *ngIf="server.serverId!=null" [(ngModel)]="server.canceled" formControlName="canceled">{{ "cancelit" | translate }}</mat-checkbox>
        <br><br>
        <mat-form-field  style="width: 100%;" *ngIf="server.canceled">
          
            <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
            <input type="text" matInput placeholder="" [(ngModel)]="server.canceledReason" formControlName="canceledReason">
            <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>
        
        <br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled||disabled1==true" matTooltip="Salvar registo">{{ "save" | translate }}</button>
            <button mat-raised-button routerLink="/servers" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
          </mat-card-actions>
  
  </form>
  
  </mat-card-content>
  </mat-card>
  </div>