<mat-sidenav-container autosize>
    <mat-sidenav #drawer mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]="63" >
      
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Menu</span>
            </mat-toolbar-row>
        </mat-toolbar>
  
      <mat-nav-list>
        <a mat-list-item routerLink="/home" matTooltip="Ir para a pagina inicial">
          <mat-icon>home</mat-icon>&nbsp;&nbsp;<span class="nav-caption">Página Inicial</span>
        </a>
        <a mat-list-item routerLink="/sends/new" matTooltip="Enviar novo backup">
          <mat-icon>add</mat-icon>&nbsp;&nbsp;<span class="nav-caption">Registar Envio de Backup</span>
        </a>
        <a mat-list-item *ngIf="received&&isHidden=='hide'" (click)="printListExcel()" routerLink="/receives" matTooltip="Baixar a lista em Excel">
          <mat-icon>file_download</mat-icon>&nbsp;&nbsp;<span class="nav-caption">{{ "downloadlist" | translate}} em Excel</span>
        </a>
        <!--<a mat-list-item *ngIf="received&&isHidden=='hide'" (click)="printList()" routerLink="/receives" matTooltip="Baixar a lista em PDF">
          <mat-icon>file_download</mat-icon>&nbsp;&nbsp;<span class="nav-caption">{{ "downloadlist" | translate}} em PDF</span>
        </a>-->
      </mat-nav-list>
  
      <mat-expansion-panel style="box-shadow: none" [expanded]="received">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Pesquisar Dados
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div>
              <form [formGroup]="form">
                <mat-form-field style="width: 95%;">
                  <mat-label>{{ 'district' | translate }}</mat-label>
                  <mat-select  formControlName="district" (change)="search()" >
                    <mat-option value="all" selected>Todos Distritos</mat-option>
                    <mat-option *ngFor="let district of alldistricts" [value]="district.districtId">{{ district.fullName }}</mat-option>
                  </mat-select>
                  <mat-icon matPrefix>location_on</mat-icon>
              </mat-form-field>
      
              <br>
              <mat-checkbox formControlName="received" [(ngModel)]="received" checked="checked" (change)="search()">{{ "hisreceived" | translate }}</mat-checkbox>
      
              <br>
      
              <mat-form-field>
                <input matInput [matDatepicker]="picker" autocomplete="off" (click)="picker.open()" onkeypress="return false;" [max]="maxDate" placeholder="Data do Backup Inicial" (dateChange)="search2()" formControlName="backup_from"> 
                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
      
              <mat-form-field>
                  <input matInput [matDatepicker]="picker2" autocomplete="off" (click)="picker2.open()" onkeypress="return false;" [max]="maxDate" placeholder="Data do Backup Final" (dateChange)="search2()" formControlName="backup_until"> 
                  <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
      
                <br>
                <mat-checkbox formControlName="idart" (change)="search()">{{ "include_idart_backup" | translate }}</mat-checkbox>
      
      </form>
          </div>
  
      </mat-expansion-panel>
      
  
    </mat-sidenav>
    <mat-sidenav-content style="padding: 10px; margin-top: 70px;">
  
        <span style="display: inline-flex;">
          <button mat-mini-fab color="basic" (click)="drawer.toggle()" (click)="changeIcon()" matTooltip="Esconder / Mostrar Menu lateral"><mat-icon>{{icon}}</mat-icon> </button>
          &nbsp;&nbsp;<h1 class="mat-h1" style="margin-top: 7px;"><span *ngIf="!received">{{total}} backup(s) por receber</span> <span *ngIf="received">{{total}} backup(s) recebidos</span> <a matTooltip="Ajuda" target="_blank" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
        </span>
          <mat-paginator *ngIf="isHidden=='hide'&&!received" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPageSend($event)"></mat-paginator>
            <mat-paginator *ngIf="isHidden=='hide'&&received" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPageReceive($event)"></mat-paginator>
          <mat-progress-bar mode="indeterminate" *ngIf="isHidden==''"></mat-progress-bar>
          <section class="mat-typography">
          <span class="info-label" *ngIf="isHidden==''">Carregando dados...</span>
        </section>
            <mat-table *ngIf="!received" mat-table [dataSource]="sends" class="mat-elevation-z8" matSort>
      
              <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
              <!-- District -->
              <ng-container matColumnDef="district">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "district" | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.district.fullName }} </mat-cell>
              </ng-container>
      
              <!-- Backup Date -->
              <ng-container matColumnDef="backup_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "backup_date" | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.backupDate | date: 'dd/MM/yyyy'}}</mat-cell>
              </ng-container>
      
              <!-- iDART Backup Date -->
              <ng-container matColumnDef="idart_backup_date">
                <mat-header-cell *matHeaderCellDef > {{ "idart_backup_date" | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  
                    <span *ngIf="!element.idartBackup" style="color:red;">{{ "no" | translate }} incluido</span>
                    <span *ngIf="element.idartBackup">{{ element.idartBackupDate | date: 'dd/MM/yyyy'}}</span>
                  
                </mat-cell>
              </ng-container>
  
               <!-- Received -->
               <ng-container matColumnDef="received">
                  <mat-header-cell *matHeaderCellDef > {{ "received" | translate }} </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    
                      <span *ngIf="!element.received" style="color:red;">{{ "no" | translate }}</span>
                      <span *ngIf="element.received">{{ "yes" | translate }}</span>
                    
                  </mat-cell>
                </ng-container>
      
                 <!-- Updated On -->
              <ng-container matColumnDef="updated">
                  <mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ "updatedon" | translate }} </mat-header-cell>
                  <mat-cell *matCellDef="let element" style="text-align: center;">  {{ element.dateUpdated | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
      
              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" style="text-align: center;">
                  <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isHidden==''">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="setSend(element.uid)">
                      <mat-icon>info</mat-icon>
                      <span>{{ 'details' | translate}}</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/receives/send', element.uid]">
                      <mat-icon>mode_edit</mat-icon>
                      <span>{{ 'receivenow' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="printSend1(element.uid)">
                      <mat-icon>print</mat-icon>
                      <span>{{ 'print' | translate}}</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>



<!-- Received -->
<mat-table *ngIf="received&&isHidden=='hide'" mat-table [dataSource]="receives" class="mat-elevation-z8" matSort>
      
  <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

  <!-- District -->
  <ng-container matColumnDef="district">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "district" | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.send.district.fullName }} </mat-cell>
  </ng-container>

  <!-- Backup Date -->
  <ng-container matColumnDef="backup_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "backup_date" | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.send.backupDate | date: 'dd/MM/yyyy'}}</mat-cell>
  </ng-container>

  <!-- iDART Backup Date -->
  <ng-container matColumnDef="idart_backup_date">
    <mat-header-cell *matHeaderCellDef > {{ "idart_backup_date" | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element">
      
        <span *ngIf="!element.idartBackup" style="color:red;">{{ "no" | translate }} incluido</span>
        <span *ngIf="element.idartBackup">{{ element.send.idartBackupDate | date: 'dd/MM/yyyy'}}</span>
      
    </mat-cell>
  </ng-container>

   <!-- Received -->
   <ng-container matColumnDef="received">
      <mat-header-cell *matHeaderCellDef > {{ "received" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        
          <span *ngIf="!element.send.received" style="color:red;">{{ "no" | translate }}</span>
          <span *ngIf="element.send.received">{{ element.receiveDate | date: 'dd/MM/yyyy'}}</span>
        
      </mat-cell>
    </ng-container>

    <!-- Restored -->
   <ng-container matColumnDef="restored">
      <mat-header-cell *matHeaderCellDef > {{ "restored" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        
          <span *ngIf="!element.restored" style="color:red;">{{ "no" | translate }}</span>
          <span *ngIf="element.restored">{{ element.dateRestored | date: 'dd/MM/yyyy'}}</span>
        
      </mat-cell>
    </ng-container>

     <!-- Updated On -->
  <ng-container matColumnDef="updated">
      <mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ "updatedon" | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element" style="text-align: center;">  {{ element.dateUpdated | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" style="text-align: center;">
      <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isHidden==''">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setReceive(element.uid)">
          <mat-icon>info</mat-icon>
          <span>{{ 'details' | translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/receives', element.uid]">
          <mat-icon>mode_edit</mat-icon>
          <span>{{ 'edit' | translate}}</span>
        </button>
        <button mat-menu-item (click)="printSend2(element.uid)">
          <mat-icon>print</mat-icon>
          <span>{{ 'print' | translate}}</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
</mat-table>



        <br>
        <mat-paginator *ngIf="isHidden=='hide'&&!received" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPageSend($event)"></mat-paginator>
            <mat-paginator *ngIf="isHidden=='hide'&&received" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPageReceive($event)"></mat-paginator>
         
        
    </mat-sidenav-content>
  </mat-sidenav-container>