<h1 mat-dialog-title>{{ "backupdetails" | translate }}</h1>
<div mat-dialog-content>
  <section class="mat-typography">
      <h4 class="mat-h4">{{data.send.district.fullName}}</h4>
  {{ "backup_date" | translate }}: {{data.send.backupDate | date: 'dd/MM/yyyy'}} <br>
  {{ "transporter" | translate }}: {{data.send.transporter.name}} ({{data.send.transporter.phoneNumber}}) <span class="info-label">{{data.send.transporter.role}} {{data.send.transporter.canceledReason}}</span> 
  <p>
    <br>
  <mat-checkbox checked="{{data.send.updateFinished==true?'checked':''}}" onclick="return false;">{{ "at" | translate }}</mat-checkbox><br>
  <mat-checkbox checked="{{data.send.syncFinished==true?'checked':''}}" onclick="return false;">{{ "st" | translate }}</mat-checkbox><br>
  <mat-checkbox checked="{{data.send.crossDhis2Finished==true?'checked':''}}" onclick="return false;">{{ "dhis2" | translate }}</mat-checkbox><br>
  <mat-checkbox checked="{{data.send.crossIdartFinished==true?'checked':''}}" onclick="return false;">{{ "idart" | translate }}</mat-checkbox><br>
  <mat-checkbox checked="{{data.send.validationFinished==true?'checked':''}}" onclick="return false;">{{ "vt" | translate }}</mat-checkbox><br>
  <mat-checkbox checked="{{data.send.idartBackup==true?'checked':''}}" onclick="return false;">{{ "include_idart_backup" | translate }} <span *ngIf="data.send.idartBackup">{{data.send.idartBackupDate | date: 'dd/MM/yyyy'}}</span></mat-checkbox>
 </p>
 
 <p *ngIf="data.send.observation!=null&&data.send.observation!=''">{{ "obs_district" | translate }}: {{data.send.observation}} </p>

 <p><mat-checkbox checked="{{data.send.received==true?'checked':''}}" onclick="return false;">{{ "hisreceived" | translate }}  {{data.createdBy.personName}} ({{data.createdBy.phoneNumber}}) - {{data.receiveDate | date: 'dd/MM/yyyy'}}</mat-checkbox><br>
    <mat-checkbox checked="{{data.ikReturned==true?'checked':''}}" onclick="return false;">{{ "ikreturned" | translate }} <span *ngIf="data.ikReturned==true">{{data.transporter.name}} ({{data.transporter.phoneNumber}}) - {{ data.dateIkReturned | date:'dd/MM/yyyy' }} <span class="info-label">{{data.send.transporter.role}} {{data.send.transporter.canceledReason}}</span></span></mat-checkbox><br>
 </p>

 <p *ngIf="data.observation!=null&&data.observation!=''">{{ "obs_his" | translate }}: {{data.observation}} </p>

 {{ "createdby" | translate }}: {{data.createdBy.personName}} ({{data.createdBy.phoneNumber}}) - {{ data.dateCreated | date:'dd/MM/yyyy HH:mm' }}  <br>
  <span *ngIf="data.updatedBy!=null">{{ "updatedby" | translate }}: {{data.updatedBy.personName}} ({{data.updatedBy.phoneNumber}}) - {{ data.dateUpdated | date:'dd/MM/yyyy HH:mm' }}<br></span>
<span class="info-label">{{data.uid}}</span>
</section>
</div>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="">OK</button>
</div>