
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
  <h1 class="mat-h1"  *ngIf="title=='Novo Distrito'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/districts"><mat-icon>arrow_back</mat-icon></a> {{ "districtnew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
    <h1 class="mat-h1"  *ngIf="title=='Editar Distrito'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/districts"><mat-icon>arrow_back</mat-icon></a>{{ "districtedit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>

<mat-card>
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field style="width: 100%;">
        <mat-label>{{'province' | translate }} *</mat-label>
        <mat-select [(ngModel)]="district.province" formControlName="province" >
          <mat-option>Seleccione</mat-option>
          <mat-option *ngFor="let province of provinces" [value]="province.name" >{{province.name }}</mat-option>
        </mat-select>
        <mat-icon matPrefix>location_on</mat-icon>
    </mat-form-field>
    <br><br>

    <mat-form-field style="width: 100%;">
        <mat-label>{{ 'district' | translate }} *</mat-label>
        <input  type="text" matInput placeholder="{{ 'district' | translate }}" [(ngModel)]="district.name" formControlName="name">
        <mat-icon matPrefix>location_on</mat-icon>
      </mat-form-field>
      <br><br>

      <mat-form-field style="width: 100%;">
          <mat-label>{{'districtsironkeys' | translate }}</mat-label>
          <mat-select [(ngModel)]="district.ironkeys" formControlName="ironkeys" multiple>
            <mat-option *ngFor="let ironkey of allironkeys" [value]="ironkey">{{ ironkey.serial }} ({{ ironkey.size }} GB)</mat-option>
          </mat-select>
          <mat-icon matPrefix>insert_drive_file</mat-icon>
      </mat-form-field>
      <br><br>

      <mat-form-field style="width: 100%;">
          <mat-label>{{'parent' | translate }}</mat-label>
          <mat-select [(ngModel)]="district.parent" formControlName="parent" >
            <mat-option>Seleccione</mat-option>
            <mat-option *ngFor="let district of alldistricts" [value]="district">{{ district.fullName }}</mat-option>
          </mat-select>
          <mat-icon matPrefix>location_on</mat-icon>
      </mat-form-field>
    
      <mat-checkbox *ngIf="district.districtId!=null" [(ngModel)]="district.canceled" formControlName="canceled">{{ "cancelit" | translate }}</mat-checkbox>
      <br><br>
      <mat-form-field  style="width: 100%;" *ngIf="district.canceled">
        
          <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
          <input type="text" matInput placeholder="" [(ngModel)]="district.canceledReason" formControlName="canceledReason">
          <mat-icon matPrefix>label_outline</mat-icon>
      </mat-form-field>
      
      <br>
      <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled||disabled1==true" matTooltip="Salvar registo">{{ "save" | translate }}</button>
          <button mat-raised-button routerLink="/districts" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
        </mat-card-actions>

</form>

</mat-card-content>
</mat-card>
</div>