
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
    <h1 class="mat-h1"  *ngIf="title=='Novo Transportador'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/transporters"><mat-icon>arrow_back</mat-icon></a> {{ "transporternew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
      <h1 class="mat-h1"  *ngIf="title=='Editar Transportador'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/transporters"><mat-icon>arrow_back</mat-icon></a>{{ "transporteredit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  
  <mat-card>
      <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        
      <mat-form-field style="width: 100%;">
          <mat-label>{{ 'transportername' | translate }} *</mat-label>
          <input type="text" matInput placeholder="{{ 'transportername' | translate }}" [(ngModel)]="transporter.name" formControlName="name">
          <mat-icon matPrefix>person_outline</mat-icon>
        </mat-form-field>
        <br><br>
  
        <mat-form-field style="width: 100%;">
            <mat-label>{{ 'function' | translate }} *</mat-label>
            <mat-select [(ngModel)]="transporter.role" formControlName="role">
              <mat-option>{{ 'select' | translate }}</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role.name">{{role.name }}</mat-option>
            </mat-select>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <br><br>
  
        <mat-form-field style="width: 100%;">
            <mat-label>{{ 'phone' | translate }}</mat-label>
            <input type="text" matInput placeholder="{{ 'phone' | translate }}" [(ngModel)]="transporter.phoneNumber" formControlName="phoneNumber">
            <mat-icon matPrefix>phone</mat-icon>
        </mat-form-field>
        <br><br>

        <mat-checkbox *ngIf="transporter.transporterId!=null" [(ngModel)]="transporter.canceled" formControlName="canceled">{{ "cancelit" | translate }}</mat-checkbox>
        <br><br>
        <mat-form-field  style="width: 100%;" *ngIf="transporter.canceled">
          
            <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
            <input type="text" matInput placeholder="" [(ngModel)]="transporter.canceledReason" formControlName="canceledReason">
            <mat-icon matPrefix>label_outline</mat-icon>
        </mat-form-field>
        
        <br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled" matTooltip="Salvar registo">{{ "save" | translate }}</button>
            <button mat-raised-button routerLink="/districts" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
          </mat-card-actions>
  
  </form>
  
  </mat-card-content>
  </mat-card>
  </div>