<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="side" opened="true" [fixedInViewport]="true" [fixedTopGap]="63" >
    
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Menu</span>
          </mat-toolbar-row>
      </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/home" matTooltip="Ir para a pagina inicial">
        <mat-icon>home</mat-icon>&nbsp;&nbsp;<span class="nav-caption">Página Inicial</span>
      </a>
      <a mat-list-item *ngIf="ROLE_SIS" routerLink="/districts/new" matTooltip="Adicionar novo Distrito">
        <mat-icon>add</mat-icon>&nbsp;&nbsp;<span class="nav-caption">{{ "add" | translate}} novo Distrito</span>
      </a>
      <a mat-list-item *ngIf="isHidden=='hide'" (click)="printList()" routerLink="/districts" matTooltip="Baixar a lista em PDF">
        <mat-icon>file_download</mat-icon>&nbsp;&nbsp;<span class="nav-caption">{{ "downloadlist" | translate}} em PDF</span>
      </a>
    </mat-nav-list>

 

    <mat-expansion-panel style="box-shadow: none" [expanded]="name!=''">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Pesquisar Dados
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div>
            <form [formGroup]="form1">
        <mat-form-field style="width: 95%;">
            <mat-label>{{ 'searchbyname' | translate }}</mat-label>
            <input matInput type="text" [formControl]="nameValueControl" [(ngModel)]="name" placeholder="{{ 'searchbyname' | translate }}">
            <mat-icon matPrefix>search</mat-icon>
            <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                <mat-icon>close</mat-icon>
              </button>
        </mat-form-field>
        
    
        <br>
             <mat-checkbox formControlName="canceled" [(ngModel)]="canceled" (change)="search()">{{ "canceled" | translate }}</mat-checkbox>
            </form>
        </div>

    </mat-expansion-panel>


    

  </mat-sidenav>
  <mat-sidenav-content style="padding: 10px; margin-top: 70px;">

    <span style="display: inline-flex;">
      <button mat-mini-fab color="basic" (click)="drawer.toggle()" (click)="changeIcon()" matTooltip="Esconder / Mostrar Menu lateral"><mat-icon>{{icon}}</mat-icon> </button>
    &nbsp;&nbsp;<h1 class="mat-h1" style="margin-top: 7px;">{{ "districtsfound" | translate }} <a matTooltip="Ajuda" target="_blank" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  </span>
    <mat-paginator *ngIf="isHidden=='hide'" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPage($event)"></mat-paginator>
    <mat-progress-bar mode="indeterminate" *ngIf="isHidden==''"></mat-progress-bar>
    <section class="mat-typography">
    <span class="info-label" *ngIf="isHidden==''">Carregando dados...</span>
  </section>
      <mat-table mat-table [dataSource]="districts" class="mat-elevation-z8" matSort>

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "district" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
        </ng-container>

        <!-- Last Backup received -->
        <ng-container matColumnDef="last_backup_received">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "lastbackupreceived" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"><button mat-button matTooltip="Ver detalhes do backup"
              (click)="setSend(element.send_uid_rec)" [disabled]="isHidden==''">{{element.last_backup_received}}</button></mat-cell>
        </ng-container>

        <!-- Last Backup received -->
        <ng-container matColumnDef="last_backup_idart">
          <mat-header-cell *matHeaderCellDef mat-sort-header > {{ "lastbackuprestored" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"><button mat-button matTooltip="Ver detalhes do backup"
              (click)="setSend(element.send_uid_idart)" [disabled]="isHidden==''">{{element.last_backup_idart}}</button></mat-cell>
        </ng-container>

        <!-- Last Sync -->
        <ng-container matColumnDef="last_sync">
          <mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ "lastsync" | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> <button *ngIf="element.start_time" mat-button matTooltip="Ver detalhes da última Sincronização"
              (click)="setSync(element.sync_uid)" [disabled]="isHidden==''">{{ element.start_time }}-{{ element.end_time }}</button></mat-cell>
        </ng-container>

         <!-- Ironkeys -->
         <ng-container matColumnDef="ironkeys">
            <mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ "districtsironkeys" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"  style="text-align: center;"> {{ element.ironkeys.length }}</mat-cell>
          </ng-container>

           <!-- Updated On -->
        <ng-container matColumnDef="updated">
            <mat-header-cell *matHeaderCellDef style="text-align: center;"> {{ "updatedon" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;">  {{ element.dateUpdated | date: 'dd/MM/yyyy'}}</mat-cell>
          </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" style="text-align: center;">
            <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isHidden==''">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="setDistrict(element.uid)">
                <mat-icon>info</mat-icon>
                <span>{{ 'details' | translate}}</span>
              </button>
              <button mat-menu-item *ngIf="ROLE_SIS" [routerLink]="['/districts', element.uid]">
                <mat-icon>mode_edit</mat-icon>
                <span>{{ 'edit' | translate}}</span>
              </button>
              <button mat-menu-item *ngIf="ROLE_SIS" (click)="setDistrictDelete(element.uid)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'delete' | translate}}</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  <br>
    <mat-paginator *ngIf="isHidden=='hide'" [length]="total" [pageIndex]="page" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15, 25, 100]" (page)="pageEvent = getPage($event)">
    </mat-paginator>
  
    <button routerLink="/districts/new" *ngIf="ROLE_SIS" mat-fab matTooltip="Adicionar novo Distrito" color="primary" class="fab-bottom-right">
      <mat-icon>add</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>