
<div style="margin: 0 auto;width: 67%;margin-top: 100px;">
  <h1 class="mat-h1"  *ngIf="title=='Novo Registo de Sincronização'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/syncs"><mat-icon>arrow_back</mat-icon></a> {{ "syncnew" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>
  <h1 class="mat-h1"  *ngIf="title=='Editar Registo de Sincronização'"><a style="vertical-align: middle;" matTooltip="Voltar" routerLink="/syncs"><mat-icon>arrow_back</mat-icon></a>{{ "syncedit" | translate }} <a matTooltip="Ajuda" href="https://docs.google.com/document/d/1Sl5kc243TsGjfhXs0wG130wR2JJ9OonGSGea3o3chsM"><mat-icon style="vertical-align: middle;">help_outline</mat-icon></a></h1>

<mat-card>
    <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field style="width: 100%;">
            <mat-label>{{ 'servername' | translate }}</mat-label>
            <mat-select [(ngModel)]="sync.server" formControlName="server" panelClass="panel-override">
                <mat-option>{{ 'select' | translate }}</mat-option>
              <mat-optgroup *ngFor="let d of allservers" [label]="d.district">
                  <mat-option *ngFor="let server of d.servers" [value]="server">{{ server.name }}</mat-option>
                </mat-optgroup>
            </mat-select>
            <mat-icon matPrefix>location_on</mat-icon>
        </mat-form-field>
        <br><br>

        <h3 class="mat-h3" style="color:lightgrey;">Hora Inicial:</h3>
        <div style="display: flex">
        <w-mat-timepicker style="width: 30%; margin-left: -10px;" autocomplete="off" onkeypress="return false;" color="primary" [(userTime)]="exportTime24"></w-mat-timepicker>

        <mat-form-field style="width: 30%;margin-left: 3%;">
            <input autocomplete="off" matInput type="number" placeholder="{{ 'items_to_send' | translate }} *" [(ngModel)]="sync.startItemsToSend" formControlName="startItemsToSend">
            <mat-icon matPrefix>keyboard_arrow_up</mat-icon>
          </mat-form-field>
  
          <mat-form-field style="width: 30%;margin-left: 3%;">
            <input autocomplete="off" matInput type="number" placeholder="{{ 'items_to_receive' | translate }} *" [(ngModel)]="sync.startItemsToReceive" formControlName="startItemsToReceive">
            <mat-icon matPrefix>keyboard_arrow_down</mat-icon>
          </mat-form-field>

        </div>

        <h3 class="mat-h3" style="color: lightgrey;">Hora Final:</h3>
        <div style="display: flex;">
            <w-mat-timepicker style="width: 30%; margin-left: -10px;" autocomplete="off" onkeypress="return false;" color="primary" [(userTime)]="exportTime242"></w-mat-timepicker>
    
            <mat-form-field style="width: 30%;margin-left: 3%;">
                <input  matInput type="number" placeholder="{{ 'end_items_to_send' | translate }} *" [(ngModel)]="sync.endItemsToSend" formControlName="endItemsToSend">
                <mat-icon matPrefix>keyboard_arrow_up</mat-icon>
              </mat-form-field>
      
              <mat-form-field style="width: 30%;margin-left: 3%;">
                <input matInput type="number" placeholder="{{ 'end_items_to_receive' | translate }} *" [(ngModel)]="sync.endItemsToReceive" formControlName="endItemsToReceive">
                <mat-icon matPrefix>keyboard_arrow_down</mat-icon>
              </mat-form-field>
    
            </div>

            <h3 class="mat-h3" style="color: lightgrey;">Ocorrências:</h3>

        <p>

          <mat-checkbox  (change)="syncError()" [(ngModel)]="sync.syncError" formControlName="syncError">{{ "sync_error_desc" | translate }}</mat-checkbox>&nbsp;&nbsp;
          <mat-checkbox [(ngModel)]="sync.syncErrorResolved" [disabled]="!sync.syncError" formControlName="syncErrorResolved">{{ "sync_error_desc_resolved" | translate }}</mat-checkbox><br><br>
          <mat-checkbox  (change)="serverFault()" [(ngModel)]="sync.serverFault" formControlName="serverFault">{{ "serverfault" | translate }}</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox [(ngModel)]="sync.serverFaultResolved" [disabled]="!sync.serverFault" formControlName="serverFaultResolved">{{ "serverfault_resolved" | translate }}</mat-checkbox><br><br>
          <mat-checkbox  (change)="laptopFault()" [(ngModel)]="sync.laptopFault" formControlName="laptopFault">{{ "laptopfault" | translate }}</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox [(ngModel)]="sync.laptopFaultResolved" [disabled]="!sync.laptopFault" formControlName="laptopFaultResolved">{{ "laptopfault_resolved" | translate }}</mat-checkbox><br><br>
          <mat-checkbox  (change)="powerCut()" [(ngModel)]="sync.powerCut" formControlName="powerCut">{{ "powercut" | translate }}</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox [(ngModel)]="sync.powerCutResolved" [disabled]="!sync.powerCut" formControlName="powerCutResolved">{{ "powercut_resolved" | translate }}</mat-checkbox>
         </p>
      
         <mat-form-field *ngIf="ROLE_GDD||ROLE_ODMA||ROLE_ORMA" style="width: 50%;">
            <textarea rows="3" placeholder="{{'obs_district' | translate }}" matInput maxlength="255" [(ngModel)]="sync.observation" formControlName="observation"></textarea>
             </mat-form-field>

          <mat-form-field *ngIf="ROLE_SIS" style="width: 50%;">
              <textarea rows="3"  placeholder="{{'obs_his' | translate }}" matInput maxlength="255" [(ngModel)]="sync.observationHis" formControlName="observationHis"></textarea>
         </mat-form-field>
         <br>
         <mat-checkbox *ngIf="sync.syncId!=null" [(ngModel)]="sync.canceled" formControlName="canceled">{{ "cancelit" | translate }}</mat-checkbox>
         <br>
         <mat-form-field  style="width: 100%;" *ngIf="sync.canceled">
           
             <mat-label>{{ "cancelitreason" | translate }} *</mat-label>
             <input type="text" matInput placeholder="" [(ngModel)]="sync.canceledReason" formControlName="canceledReason">
             <mat-icon matPrefix>label_outline</mat-icon>
         </mat-form-field>
         
         <br>
       

      <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||isDisabled||disabled1==true" matTooltip="Salvar registo">{{ "save" | translate }}</button>
          <button mat-raised-button routerLink="/syncs" [disabled]="isDisabled" matTooltip="Cancelar operação">{{ "cancel" | translate }}</button>
        </mat-card-actions>

</form>

</mat-card-content>
</mat-card>
</div>